#server
PORT=

#Database
DATABASE_URL= 
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

#jwt
JWT_ACCESS_TOKEN_SECRET_KEY=
JWT_REFRESH_TOKEN_SECRET_KEY=

#frontend
FRONTEND_HOST=

SALT=

# Google Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=