#server
PORT=8000

#Database
DATABASE_URL="mongodb://localhost:27017/codestreak"

#DATABASE_URL="mongodb+srv://<username>:<password>@cluster0.mongodb.net/codestreak?retryWrites=true&w=majority"  #if using MongoDB Atlas

# If you want to use email functionality, uncomment the following lines and set your email credentials
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USER=""
EMAIL_PASS=""
EMAIL_FROM=""

#jwt
JWT_ACCESS_TOKEN_SECRET_KEY="qwertyuiopasdfghjklzxcvbnm1234567890"
JWT_REFRESH_TOKEN_SECRET_KEY="qwertyuiopasdfghjklzxcvbnm1234567890"

#frontend
FRONTEND_HOST="http://localhost:3000"

SALT=10

# Google Auth 
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Gemini AI
GEMINI_API_KEY=
GEMINI_API_URL="https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent"